*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pyramid{
    position: absolute;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    animation: rotate 5s linear infinite;
}
@keyframes rotate {
    0%{
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(-30deg) rotateY(360deg);
    }
}
.pyramid div{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transform-style: preserve-3d;
}
.pyramid div span{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(#222,aqua);
    clip-path: polygon(50% 0%,0% 100%,100% 100%);
    transform-origin: bottom;
    transform: rotateY(calc(90deg*var(--i))) translateZ(150px) rotateX(30deg);

}
.glow{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: aqua;
    transform: rotateX(90deg) translateZ(-200px);
    filter: blur(8px);
    box-shadow: 0 0 5px aqua,0 0 15px aqua,0 0 30px aqua;
}